

<!--App Component-->
<h4>This is {{nameParrentString}}</h4>
<p>Show Number of Parrent ==> {{numberParrentInt}}</p>

<p style="color: orangered">Show Number From Child ==> {{numberFromChild}}</p>

<button (click)="onClickIncreaseNumberParrent()">Increase Number Parrent</button>

<br/><br/>

<input type="text" [placeholder]="namePlaceHolder">
<button>Sent to Child</button>

<br/><br/>

<hr/>

<!--Child Component-->
<app-childcomponent (eventIncreaseChild)="onChangeChild($event)" [nameFromParrent]="nameChildString"
                    [numberFromParrent]="numberParrentInt">

</app-childcomponent>
