

<!--App Component-->
<h4>This is {{nameParrentString}}</h4>
<p>Show Number of Parrent ==> {{numberParrentInt}}</p>

<p style="color: orangered">Show Number From Child ==> {{numberFromChild}}</p>

<button (click)="onClickIncreaseNumberParrent()">Increase Number Parrent</button>

<br/><br/>

<input #nameInput
       type="text"
       [placeholder]="namePlaceHolder"
       value="{{blankString}}">

<button (click)="onClickSentToChild(nameInput.value)">Sent to Child</button>

<br/>

<h4>Name From Input Parrent ==> {{nameInputParrentString}}</h4>

<br/><br/>

<hr/>

<!--Child Component-->
<app-childcomponent (eventIncreaseChild)="onChangeChild($event)"
                    [nameFromParrent]="nameChildString"
                    [numberFromParrent]="numberParrentInt"
                    [nameInputFromParrent]="nameInputSentToChild">

</app-childcomponent>
